@hiiretail:registry=https://repo.extendaretail.com/repository/npm-group/
//repo.extendaretail.com/repository/npm-group/:email=${EXTENDA_NEXUS_EMAIL}
//repo.extendaretail.com/repository/npm-group/:always-auth=true
//repo.extendaretail.com/repository/npm-group/:_auth=${EXTENDA_NEXUS_TOKEN}